<div class="container">
  <!-- header section -->
  <div class="header">
    <h2>India Covid Data</h2>
    <div class="sort-arrow-section">
      <span>Sort By Total Cases</span>
      <div class="up-down-arrow_sub-section">
        <span (click)="orderBy()">&#x25B2;</span>
        <span (click)="orderBy()">&#x25BC;</span>
      </div>
    </div>
  </div>
  <!-- section for corona update blocks -->
  <div class="cases-stats-block" >
    <div class="state_wise_block" *ngFor="let state of stateStats">
      <div class="state_name" (click)="loadChart(state.name,state.data)" *ngIf="state">
        <h4>{{state.name}}</h4>
      </div>
      <div class="cases_stats_block" (click)="loadChart(state.name,state.data)">
        <div class="cases_stats">
          <span>New Cases  : </span>
          <span *ngIf="state.data.dates[currentDate]?.total.confirmed">{{state.data.dates[currentDate]?.total.confirmed}}</span>
          <span *ngIf="!state.data.dates[currentDate]?.total.confirmed">{{state.data.dates[previousDate]?.total.confirmed}}</span>
        </div>
         <div class="cases_stats">
          <span>Recovered : </span>
          <span *ngIf="state.data.dates[currentDate]?.total.recovered">{{state.data.dates[currentDate]?.total.recovered}}</span>
          <span *ngIf="!state.data.dates[currentDate]?.total.recovered">{{state.data.dates[previousDate]?.total.recovered}}</span>
        </div>
         <div class="cases_stats">
          <span>Deceased : </span>
          <span *ngIf="state.data.dates[currentDate]?.total.deceased">{{state.data.dates[currentDate]?.total.deceased}}</span>
          <span *ngIf="!state.data.dates[currentDate]?.total.deceased">{{state.data.dates[previousDate]?.total.deceased}}</span>
        </div>
         <div class="cases_stats">
          <span>Total : </span>
          <span *ngIf="state.data.dates[currentDate]?.total.tested">{{state.data.dates[currentDate]?.total.tested}}</span>
          <span *ngIf="!state.data.dates[currentDate]?.total.tested">{{state.data.dates[previousDate]?.total.tested}}</span>
        </div>   
      </div>
      
    </div>  
  </div>
</div>
<!-- Modal Section -->
<div [hidden]="successPopup" class="close_modal" (click)="closeModal()">
  <img [hidden]="successPopup" src="assets/images/close.png" />
</div>
<div [hidden]="successPopup">
  <div id="container" ></div>
</div>
 
<router-outlet></router-outlet>